/* stylelint-disable no-descending-specificity */
footer.footer-wrapper {
  padding: 0 120px;
  font-size: var(--body-font-size-s);
}

footer .footer {
  padding:60px 0;
  margin: auto;
  background-color: var(--overlay-background-color);
  border-bottom-left-radius: 84px;
  overflow: hidden;
}

.footer-wrapper .footer.block > div > div:nth-child(1) > p:first-of-type  {
  padding-left:60px;
}

.footer-wrapper .footer.block p picture img {
  width: 118px;
  height:48px;
}

.footer-wrapper .footer.block p + .columns {
  margin:0 auto;
  padding: 0 14%;
}

.footer-wrapper .footer.block p + .columns > div > div:nth-child(1) ul {
  margin:0;
  margin-bottom: 36px;
  padding:0;
  list-style: none;
  color: #393939;
  font-size: 24px;
  font-weight: 300;
  text-align: left;
}

.footer-wrapper .footer.block p + .columns > div > div:nth-child(1) ul li:not(:last-child) {
  margin-bottom: 16px;
}

.footer-wrapper .footer.block p + .columns > div > div:nth-child(2) p {
  color: #071d49;
  font-size: 14px;
  font-weight: 500;
}

.footer-wrapper .footer.block p + .columns > div > div:nth-child(2) ul {
  margin:0;
  margin-top: 32px;
  padding:0;
  list-style: none;
  color: #393939;
  font-size: 14px;
  text-align: left;
}

.footer-wrapper .footer.block p + .columns > div > div:nth-child(2) ul li:not(:last-child) {
  margin-bottom: 16px;
}

.footer-wrapper .footer.block p + .columns > div > div:nth-child(3) p {
  color: #071d49;
  font-size: 14px;
  font-weight: 500;
}

.footer-wrapper .footer.block p + .columns > div > div:nth-child(3) ul {
  margin:0;
  margin-top: 32px;
  padding:0;
  list-style: none;
  color: #393939;
  font-size: 14px;
  text-align: left;
}

.footer-wrapper .footer.block p + .columns > div > div:nth-child(3) ul li{
  position: relative;
}

.footer-wrapper .footer.block p + .columns > div > div:nth-child(3) ul li::after {
  content: '';
  display: block;
  background-image: url("../../icons/external-link.svg");
  width: 16px;
  height:16px;
  position: absolute;
  top:50%;
  right:0;
  transform: translateY(-50%);
}

.footer-wrapper .footer.block p + .columns > div > div:nth-child(3) ul li:not(:last-child) {
  margin-bottom: 16px;
}

.footer.block > div:nth-child(1) div:nth-child(1) .columns + p {
  width: 50%;
  padding: 0 14%;
}

.footer.block > div:nth-child(1) div:nth-child(1) .columns + p + p {
  width: 50%;
  padding: 0 14%;
  margin-bottom:36px;
}

.footer.block > div:nth-child(1) ul:nth-last-child(2) {
  margin:0;
  padding:0;
  list-style: none;
  font-size: 14px;
  font-weight: 500;
  text-align:left;
  padding-left:60px;
  float:left;
}

.footer.block > div:nth-child(1) ul:nth-last-child(2) li {
  padding-right:24px;
  display: inline-block;
}


.footer.block > div:nth-child(1) ul + ul:nth-last-child(1) {
  margin:0;
  padding:0;
  float:right;
  list-style: none;
  font-size: 14px;
  font-weight: 500;
  text-align:left;
  padding-right:60px;
}


.footer.block > div:nth-child(1) ul + ul:nth-last-child(1) li:first-child {
  margin-right:24px;
  padding:0;
  display: inline-block;
  background-image: url("../../icons/footer-facebook.svg");
  width:24px;
  height:24px;
}

.footer.block > div:nth-child(1) ul + ul:nth-last-child(1) li:nth-child(2) {
  margin-right:24px;
  padding:0;
  display: inline-block;
  background-image: url("../../icons/footer-twitter.svg");
  width:24px;
  height:24px;
}

.footer.block > div:nth-child(1) ul + ul:nth-last-child(1) li:nth-child(3) {
  margin-right:24px;
  padding:0;
  display: inline-block;
  background-image: url("../../icons/footer-instagram.svg");
  width:24px;
  height:24px;
}

.footer.block > div:nth-child(1) ul + ul:nth-last-child(1) li:nth-child(4) {
  margin-right:24px;
  padding:0;
  display: inline-block;
  background-image: url("../../icons/footer-linkedin.svg");
  width:24px;
  height:24px;
}

.footer.block > div:nth-child(1) ul + ul:nth-last-child(1) li:nth-child(5) {
  margin-right:0;
  padding:0;
  display: inline-block;
  background-image: url("../../icons/footer-youtube.svg");
  width:24px;
  height:24px;
}

@media (max-width: 1023px) {
  footer.footer-wrapper {
    padding: 0 40px;
  }

}

@media (max-width: 899px) {
  .footer.block > div:nth-child(1) ul:nth-last-child(2) {
    display:flex;
    flex-wrap: wrap;
    float:none;
    gap:24px;
    margin-bottom:32px;
  }

  .footer.block > div:nth-child(1) ul + ul:nth-last-child(1) {
    display:flex;
    flex-wrap: wrap;
    gap:24px;
    float:none;
    padding-left:60px;
    padding-right:0;
  }

}


footer .footer p {
  margin: 0;
}